<a href="https://colab.research.google.com/github/analyticalaq/Sales-Value-Inc/blob/main/Sales_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Sales project 1**

In [ ]:
import pandas as pd

In [ ]:
data=pd.read_csv('/content/drive/MyDrive/sales project data/transaction.csv')

In [ ]:
data=pd.read_csv('/content/drive/MyDrive/sales project data/transaction.csv', sep=';')

In [ ]:
data.head()

,UserId,TransactionId,Year,Month,Day,Time,ItemCode,ItemDescription,NumberOfItemsPurchased,CostPerItem,SellingPricePerItem,Country,ClientKeywords
0,278166,6355745,2019,Feb,2,12:50:00,465549,FAMILY ALBUM WHITE PICTURE FRAME,6,11.73,21.11,United Kingdom,"['Senior', 'Solo Entrepreneur', '2-5 Year Clie..."
1,337701,6283376,2018,Dec,26,09:06:00,482370,LONDON BUS COFFEE MUG,3,3.52,3.87,United Kingdom,"['Middle Age', 'Corporation', '2-5 Year Client']"
2,267099,6385599,2019,Feb,15,09:45:00,490728,SET 12 COLOUR PENCILS DOLLY GIRL,72,0.90,1.62,France,"['Middle Age', 'Corporation', '2-5 Year Client']"
3,380478,6044973,2018,Jun,22,07:14:00,459186,UNION JACK FLAG LUGGAGE TAG,3,1.73,1.90,United Kingdom,"['Middle Age', 'Small Business', 'New Client']"
4,-1,6143225,2018,Sep,10,11:58:00,1733592,WASHROOM METAL SIGN,3,3.40,5.78,United Kingdom,"['Middle Age', 'Solo Entrepreneur', '2-5 Year ..."

**Summery of the data**

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1047588 entries, 0 to 1047587
Data columns (total 13 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   UserId                  1047588 non-null  int64
 1   TransactionId           1047588 non-null  int64
 2   Year                    1047588 non-null  int64
 3   Month                   1047588 non-null  object
 4   Day                     1047588 non-null  int64
 5   Time                    1047588 non-null  object
 6   ItemCode                1047588 non-null  int64
 7   ItemDescription         1044797 non-null  object
 8   NumberOfItemsPurchased  1047588 non-null  int64
 9   CostPerItem             1047588 non-null  float64
 10  SellingPricePerItem     1047588 non-null  float64
 11  Country                 1047588 non-null  object
 12  ClientKeywords          1047588 non-null  object
dtypes: float64(2), int64(6), object(5)
memory usage: 103.9+ MB

**Mathematical operations**

In [ ]:
CostPerItem	= 11.73	
SellingPricePerItem = 21.11
NumberOfItemsPurchased	= 6

**Mathematical operations perform on Tableau**

In [ ]:
profitperItem = SellingPricePerItem - CostPerItem

In [ ]:
ProfitPerTransaction=profitperItem*NumberOfItemsPurchased

In [ ]:
CostPerTransction= NumberOfItemsPurchased * CostPerItem

In [ ]:
SellingPricePerTranction =SellingPricePerItem * NumberOfItemsPurchased

In [ ]:
CostPerItem=data['CostPerItem']

In [ ]:
CostPerItem.head()

0    11.73
1     3.52
2     0.90
3     1.73
4     3.40
Name: CostPerItem, dtype: float64

In [ ]:
NumberOfItemsPurchased = data['NumberOfItemsPurchased']

In [ ]:
NumberOfItemsPurchased.head()

0     6
1     3
2    72
3     3
4     3
Name: NumberOfItemsPurchased, dtype: int64

**Adding Column in excel sheet**

In [ ]:
data['CostPerTransction'] = CostPerTransction

In [ ]:
data['CostPerTransction']= data['NumberOfItemsPurchased'] * data['CostPerItem']

In [ ]:
data.head()

,UserId,TransactionId,Year,Month,Day,Time,ItemCode,ItemDescription,NumberOfItemsPurchased,CostPerItem,SellingPricePerItem,Country,ClientKeywords,CostPerTransction
0,278166,6355745,2019,Feb,2,12:50:00,465549,FAMILY ALBUM WHITE PICTURE FRAME,6,11.73,21.11,United Kingdom,"['Senior', 'Solo Entrepreneur', '2-5 Year Clie...",70.38
1,337701,6283376,2018,Dec,26,09:06:00,482370,LONDON BUS COFFEE MUG,3,3.52,3.87,United Kingdom,"['Middle Age', 'Corporation', '2-5 Year Client']",10.56
2,267099,6385599,2019,Feb,15,09:45:00,490728,SET 12 COLOUR PENCILS DOLLY GIRL,72,0.90,1.62,France,"['Middle Age', 'Corporation', '2-5 Year Client']",64.80
3,380478,6044973,2018,Jun,22,07:14:00,459186,UNION JACK FLAG LUGGAGE TAG,3,1.73,1.90,United Kingdom,"['Middle Age', 'Small Business', 'New Client']",5.19
4,-1,6143225,2018,Sep,10,11:58:00,1733592,WASHROOM METAL SIGN,3,3.40,5.78,United Kingdom,"['Middle Age', 'Solo Entrepreneur', '2-5 Year ...",10.20

**Sales Per transction**

In [ ]:
data['SalesPertransctions']=data['SellingPricePerItem'] * data['NumberOfItemsPurchased']

**Profit calculations Sales - Cost**

In [ ]:
data['ProfitPerTransaction']=data['SalesPertransctions'] - data['CostPerTransction']

**Markup  (Sales - Cost)/Cost**

In [ ]:
data['Markup']=(data['SalesPertransctions'] - data['CostPerTransction'])/ data['CostPerTransction']

**ROUND Function**

In [ ]:
data['Markup']=round(data['Markup'],2)

**Convet data types**

In [ ]:
day=data['Day'].astype(str)

In [ ]:
year=data['Year'].astype(str)

**Combining data fields**

In [ ]:
date=day+'-'+data['Month']+'-'+year

In [ ]:
data['date']=date

**using  iloc for view specific row/columns**

In [ ]:
data.iloc[0]

UserId                                                               278166
TransactionId                                                       6355745
Year                                                                   2019
Month                                                                   Feb
Day                                                                       2
Time                                                               12:50:00
ItemCode                                                             465549
ItemDescription                            FAMILY ALBUM WHITE PICTURE FRAME
NumberOfItemsPurchased                                                    6
CostPerItem                                                           11.73
SellingPricePerItem                                                   21.11
Country                                                      United Kingdom
ClientKeywords            ['Senior', 'Solo Entrepreneur', '2-5 Year Clie...
CostPerTransction                                                     70.38
SalesPertransctions                                                  126.66
ProfitPerTransaction                                                  56.28
Markup                                                                  0.8
date                                                             2-Feb-2019
Name: 0, dtype: object

In [ ]:
data.iloc[0:5]

,UserId,TransactionId,Year,Month,Day,Time,ItemCode,ItemDescription,NumberOfItemsPurchased,CostPerItem,SellingPricePerItem,Country,ClientKeywords,CostPerTransction,SalesPertransctions,ProfitPerTransaction,Markup,date
0,278166,6355745,2019,Feb,2,12:50:00,465549,FAMILY ALBUM WHITE PICTURE FRAME,6,11.73,21.11,United Kingdom,"['Senior', 'Solo Entrepreneur', '2-5 Year Clie...",70.38,126.66,56.28,0.8,2-Feb-2019
1,337701,6283376,2018,Dec,26,09:06:00,482370,LONDON BUS COFFEE MUG,3,3.52,3.87,United Kingdom,"['Middle Age', 'Corporation', '2-5 Year Client']",10.56,11.61,1.05,0.1,26-Dec-2018
2,267099,6385599,2019,Feb,15,09:45:00,490728,SET 12 COLOUR PENCILS DOLLY GIRL,72,0.90,1.62,France,"['Middle Age', 'Corporation', '2-5 Year Client']",64.80,116.64,51.84,0.8,15-Feb-2019
3,380478,6044973,2018,Jun,22,07:14:00,459186,UNION JACK FLAG LUGGAGE TAG,3,1.73,1.90,United Kingdom,"['Middle Age', 'Small Business', 'New Client']",5.19,5.70,0.51,0.1,22-Jun-2018
4,-1,6143225,2018,Sep,10,11:58:00,1733592,WASHROOM METAL SIGN,3,3.40,5.78,United Kingdom,"['Middle Age', 'Solo Entrepreneur', '2-5 Year ...",10.20,17.34,7.14,0.7,10-Sep-2018

In [ ]:
data.iloc[-3]  #show last 3 rows

UserId                                                          341082
TransactionId                                                  6140585
Year                                                              2018
Month                                                              Sep
Day                                                                  8
Time                                                          10:41:00
ItemCode                                                        487326
ItemDescription                                 LUNCH BAG APPLE DESIGN
NumberOfItemsPurchased                                              15
CostPerItem                                                       2.28
SellingPricePerItem                                               2.51
Country                                                 United Kingdom
ClientKeywords            ['Young Adult', 'Corporation', 'New Client']
CostPerTransction                                                 34.2
SalesPertransctions                                              37.65
ProfitPerTransaction                                              3.45
Markup                                                             0.1
date                                                        8-Sep-2018
Name: 1047585, dtype: object

In [ ]:
data.iloc[:,5]   #bring all rows in 5th columns

0          12:50:00
1          09:06:00
2          09:45:00
3          07:14:00
4          11:58:00
             ...
1047583    08:16:00
1047584    08:56:00
1047585    10:41:00
1047586    09:32:00
1047587    12:00:00
Name: Time, Length: 1047588, dtype: object

In [ ]:
data.iloc[5:]

,UserId,TransactionId,Time,ItemCode,ItemDescription,NumberOfItemsPurchased,CostPerItem,SellingPricePerItem,Country,CostPerTransction,SalesPertransctions,ProfitPerTransaction,Markup,date,Client_Age,Client_Type,Contract_Length,Season
5,364266,6370276,07:54:00,453348,retrospot giant tube matches,6,3.52,5.98,United Kingdom,21.12,35.88,14.76,0.7,9-Feb-2019,'Senior','Corporation','2-5 Year Client',Mid
6,344946,6383036,08:59:00,469875,airline bag vintage jet set brown,3,5.87,8.81,United Kingdom,17.61,26.43,8.82,0.5,13-Feb-2019,'Adult','Small Business','New Client',Mid
7,-1,5925458,12:46:00,440370,pink floral feltcraft shoulder bag,3,5.18,6.22,United Kingdom,15.54,18.66,3.12,0.2,24-Feb-2018,'Middle Age','Solo Entrepreneur','2-5 Year Client',Mid
8,336420,6359661,07:18:00,490455,hot water bottle keep calm,12,6.84,12.31,United Kingdom,82.08,147.72,65.64,0.8,4-Feb-2019,'Middle Age','Corporation','New Client',Mid
9,297066,6379318,06:18:00,492513,oval mini portrait frame,24,2.70,4.86,United Kingdom,64.80,116.64,51.84,0.8,12-Feb-2019,'Senior','Small Business','New Client',Mid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1047583,315651,5999719,10:46:00,480018,easter tin keepsake,6,2.28,3.88,United Kingdom,13.68,23.28,9.60,0.7,14-May-2018,'Middle Age','Corporation','2-5 Year Client',Low
1047584,300909,6010158,08:17:00,435771,funky washing up gloves assorted,36,2.90,5.22,United Kingdom,104.40,187.92,83.52,0.8,23-May-2018,'Young Adult','Corporation','New Client',Low
1047585,277830,6000060,13:33:00,477162,set of 6 spice tins pantry design,6,5.46,7.10,United Kingdom,32.76,42.60,9.84,0.3,14-May-2018,'Young Adult','Small Business','2-5 Year Client',Low
1047586,-1,6015801,14:18:00,476637,green regency teacup and saucer,3,8.00,10.40,United Kingdom,24.00,31.20,7.20,0.3,29-May-2018,'Middle Age','Solo Entrepreneur','2-5 Year Client',Low
1047587,-1,6015856,14:24:00,484071,recycled acapulco mat blue,3,22.95,41.31,United Kingdom,68.85,123.93,55.08,0.8,29-May-2018,'Middle Age','Solo Entrepreneur','2-5 Year Client',Low

In [ ]:
data.iloc[5,7]   # bring 5th row in 7th columns

'CUT GLASS T-LIGHT HOLDER OCTAGON'

**using split kewyword to split the client keyword fields**

In [ ]:
split_col=data['ClientKeywords'].str.split(',',expand=True)

In [ ]:
data['Client_Age']=split_col[0]

In [ ]:
data['Client_Type']=split_col[1]

In [ ]:
data['Contract_Length']=split_col[2]

**Using Replace Functions**

In [ ]:
data['Client_Age']=data['Client_Age'].str.replace('[','')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

In [ ]:
data['Contract_Length']=data['Contract_Length'].str.replace(']','')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

In [ ]:
data['ItemDescription']=data['ItemDescription'].str.lower()

**Merge the new dataset
   Bringing New dataset**

In [ ]:
seasons=pd.read_csv('/content/drive/MyDrive/sales project data/value_inc_seasons.csv',sep=';')

In [ ]:
data=pd.merge(data,seasons, on='Month')

In [ ]:
data=data.drop(['ClientKeywords','Year','Day'],axis=1)

KeyError: ignored

In [ ]:
data=data.drop('Month',axis=1)

In [ ]:
data.to_csv('ValueInc_Cleaned.csv',index=False)

In [ ]:
pd.read_csv('/content/drive/MyDrive/sales project data/ValueInc_Cleaned.csv')

,UserId,TransactionId,Time,ItemCode,ItemDescription,NumberOfItemsPurchased,CostPerItem,SellingPricePerItem,Country,CostPerTransction,SalesPertransctions,ProfitPerTransaction,Markup,date,Client_Age,Client_Type,Contract_Length,Season
0,278166,6355745,12:50:00,465549,family album white picture frame,6,11.73,21.11,United Kingdom,70.38,126.66,56.28,0.8,2-Feb-2019,'Senior','Solo Entrepreneur','2-5 Year Client',Mid
1,267099,6385599,09:45:00,490728,set 12 colour pencils dolly girl,72,0.90,1.62,France,64.80,116.64,51.84,0.8,15-Feb-2019,'Middle Age','Corporation','2-5 Year Client',Mid
2,328440,6387425,10:35:00,494802,set of 6 ribbons perfectly pretty,36,3.99,5.59,United Kingdom,143.64,201.24,57.60,0.4,16-Feb-2019,'Adult','Small Business','New Client',Mid
3,364791,6358242,09:25:00,486276,set of 5 mini grocery magnets,3,2.88,3.74,United Kingdom,8.64,11.22,2.58,0.3,3-Feb-2019,'Young Adult','Small Business','Loyal Client',Mid
4,-1,6388019,13:24:00,490329,roll wrap vintage christmas,30,3.40,4.42,United Kingdom,102.00,132.60,30.60,0.3,16-Feb-2019,'Middle Age','Solo Entrepreneur','2-5 Year Client',Mid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1047583,315651,5999719,10:46:00,480018,easter tin keepsake,6,2.28,3.88,United Kingdom,13.68,23.28,9.60,0.7,14-May-2018,'Middle Age','Corporation','2-5 Year Client',Low
1047584,300909,6010158,08:17:00,435771,funky washing up gloves assorted,36,2.90,5.22,United Kingdom,104.40,187.92,83.52,0.8,23-May-2018,'Young Adult','Corporation','New Client',Low
1047585,277830,6000060,13:33:00,477162,set of 6 spice tins pantry design,6,5.46,7.10,United Kingdom,32.76,42.60,9.84,0.3,14-May-2018,'Young Adult','Small Business','2-5 Year Client',Low
1047586,-1,6015801,14:18:00,476637,green regency teacup and saucer,3,8.00,10.40,United Kingdom,24.00,31.20,7.20,0.3,29-May-2018,'Middle Age','Solo Entrepreneur','2-5 Year Client',Low
1047587,-1,6015856,14:24:00,484071,recycled acapulco mat blue,3,22.95,41.31,United Kingdom,68.85,123.93,55.08,0.8,29-May-2018,'Middle Age','Solo Entrepreneur','2-5 Year Client',Low